{% extends 'base.html' %}

{% block title %}{{ blog_post.title }} - Sport News Blog{% endblock %}

{% block content %}
<article style="max-width: 800px; margin: 0 auto; padding: 20px; background-color: black; color: white; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <h2 style="font-size: 2em; margin-bottom: 10px; color: white;">{{ blog_post.title }}</h2>
    <img src="{{ blog_post.image_url }}" style="width: 100%; height: auto; border-radius: 8px; margin-bottom: 20px;" alt="Blog Post Image">
    <p style="font-size: 1.1em; line-height: 1.6; color: white;">{{ blog_post.content }}</p>
    <p style="margin-top: 20px; font-style: italic; color: white;">Published on {{ blog_post.created_at|date:"F d, Y" }}</p>
</article>
{% endblock %}

